header.header 
    .header__socials 
        include ./social-icons.pug
    .header__logo
        h1.logo Hypsum Blog   
    .header__search
        .header__search-icon 
            img(src="./img/icons/search.svg", alt="Search", width="26")
        .header__search-subscribe
            button.btn-rounded Subscribe